
<a class="btn btn-primary" type="button" asp-controller="Admin" asp-action="ptoadmin">PTO Requests</a>
<a class="btn btn-danger" type="button" asp-controller="Admin" asp-action="ptoavailability">Availability Notes</a>
