

@model OnTime.Models.Viewmodels.loginviewmodel

<div class="register-form mt-3 mb-3">
    <div class="container">
        <div class="row">

            <div class="col-md-6" style="background-color: #1d1919; opacity:0.5;">

                <form id="account" method="post" asp-action="Login" asp-controller="Account" class="login-form">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-user"></span></div>
                        <input asp-for="Email" type="text" class="form-control" placeholder="Email" required>
                    </div>
                    <div class="form-group">
                        <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-lock"></span></div>
                        <input asp-for="Password" type="password" class="form-control" placeholder="Password" required>
                    </div>
                    <div class="form-group d-md-flex">
                        <div class="w-100 text-md-right">
                            <a href="#">Forgot Password</a>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn form-control btn-primary rounded submit px-3" onlick="testmessage();">Login</button>
                    </div>
                   
                </form>



            </div>
        </div>
    </div>
</div>