
<div class="register-form mt-3 mb-3">
    <div class="container">
        <div class="row">
            <form id="profile">
                <div class="col-md-6">
                    <div class="card" style="background-color: #1d1919; opacity:0.7;">

                        <div class="user text-center form-group">
                            <div class="profile form-group"> <img src="https://i.imgur.com/JgYD2nQ.jpg" class="rounded-circle" width="80"> </div>
                        </div>
                        <div class="mt-5 text-center form-group">
                            <h4 class="mb-0" style="color:azure;">Benjamin Tims</h4> <span class="text-muted d-block mb-2">Los Angles</span> <button class="btn btn-primary btn-sm follow">Follow</button>
                            <div class="d-flex form-group">



                                <div class="form-group">
                                    <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-user"></span></div>
                                    <input class="form-control" type="text" placeholder="Mark Bailey" readonly>
                                </div>
                                <div class="form-group">
                                    <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-lock"></span></div>

                                    <input class="form-control" type="text" placeholder="Admin" readonly>
                                </div>
                             




                            </div>
                        </div>
                    </div>

                </div>
            </form>
        </div>
        </div>
</div>