@model OnTime.Models.EmpAvailability

<div class="container mt-5" >
    <div class="row d-flex justify-content-center" >
        <div class="col-md-7">
            <div class="card p-3 py-4" style="background-color: #1d1919; opacity:0.7; " >
                <div class="text-center"> <img src="~/images/user.png" width="100" class="rounded-circle"> </div>
                <div class="text-center mt-3"> <span class="bg-secondary p-1 px-4 rounded text-white">@ViewBag.Role</span>
                    <h5 class="mt-2 mb-0" style="color:azure;"> @ViewBag.UserName</h5> <span></span>
                    <div class="px-4 mt-1">
                     <label style="color:azure;">Hire Date:<span>@ViewBag.HireDate</span></label> <br />
                         <label style="color:azure;">PTO Available:<span>@ViewBag.Pto</span><span> Hours</span></label><br/>
                         <label style="color:azure;">Availability</label><br />
                         <form method="post" asp-controller="Admin" asp-action="postavailability">
                         <textarea rows="2" column="50" placeholder="Please add notes regarding your availability" asp-for="AvailabilityNote"></textarea><br />
                            
                      
                     
                        <div class="buttons"> <button class="btn btn-outline-primary px-4">Back</button> <button class="btn btn-primary px-4 ms-3">Update</button> </div>
                        </form>
                    </div>

                
                   
                    
                </div>
            </div>
        </div>
    </div>
</div>