
<div class="row">

    <div class="time" style="background-color: #1d1919; opacity:0.5;">
        <span class="hms"></span>
        <span class="ampm"></span>
        <br>
        <span class="date"></span>
        
    </div>
    <div class="row">
        <button type="submit" class="btn btn-success">Punch In</button> &nbsp;&nbsp;
        <button type="submit" class="btn btn-danger">Punch Out</button>
    </div>
</div>
