<form id="reportGenerator" method="post" asp-controller="Reports" asp-action="GenerateReport">
    <select class="form-select" aria-label="Default select example">
        <option selected>Select report to generate</option>
        <option value="Weekly">Weekly Report</option>
        <option value="Monthly">Monthly Report</option>
        <option value="Annual">Annual Report </option>
    </select>
    <button type="submit" class="btn btn-outline-success">Generate Report</button>
</form>