@{
    Layout = (string)ViewData["Layout"] ?? "_PartialBase";
}


<script>

    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');
        function mobileCheck() {
            if (window.innerWidth >= 768) {
                return false;
            } else {
                return true;
            }
        };
        var calendar = new FullCalendar.Calendar(calendarEl, {
            height: 450,
            resourceAreaWidth:800,
            windowResize: function (arg) {

            },

            initialView: 'dayGridMonth',
            dayCount: 2,
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay'
            },
            selectable: true,
            select: function (event) {
                onShowModal(event, null);
            }
        });

        calendar.render();
    });

    function onShowModal(obj, isEventDetail) {
        $("#scheduleView").modal("show");
    }
</script>

<div id='calendar' style=" color: white; background-color: black; opacity: 0.6;"></div>
<hr />
<br/>

<a asp-controller="Scheduler" asp-action="ScheduleManager" aria-expanded="false" class="btn btn-success">Schedule Manager</a>



