@inject Microsoft.AspNetCore.Identity.SignInManager<OnTime.Models.ApplicationUser> signInManager


<form id="logoff" method="post" asp-action="Logoff" asp-controller="Account">
    <button type="submit" class="dropdown-item text-danger" asp-controller="Account" asp-action="Logoff"><i class="bx bx-power-off font-size-16 align-middle mr-1 text-danger"></i> <span key="t-logout">Logout</span></button>
</form>
