@{
    Layout = (string)ViewData["Layout"] ?? "_PartialBase";
}


<script>

    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');
        function mobileCheck() {
            if (window.innerWidth >= 768) {
                return false;
            } else {
                return true;
            }
        };
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'resourceTimelineWeek',
            resourceAreaHeaderContent: 'Employees',
            resources: 'https://fullcalendar.io/demo-resources.json?with-nesting&with-colors',
            events: 'https://fullcalendar.io/demo-events.json?single-day&for-resource-timeline'

        });
      
        calendar.render();
    });

</script>

<div id='calendar' style="background-color: #000000; color: azure; opacity: 0.6;"></div>
