@{
    Layout = (string)ViewData["Layout"] ?? "_PartialBase";
}


<script>

    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'resourceTimelineWeek'
        });
        calendar.render();
    });

</script>

<div id='calendar' style="background-color: #000000; color: azure; opacity: 0.6;"></div>
