<div class="jumbotron text-center" style="background-color: #1d1919; opacity: 0.5;">
    <h1 class="display-3" style="color:#333333;">PTO Request Sent!</h1>
    <p class="lead"><strong>Please check with your manager</strong> if your request takes more than 48 hours to be approved/denied. </p>
    <hr>
    
    <p class="lead">
        <a class="btn btn-primary btn-sm" asp-controller="Dashboard" asp-action="Index">Continue to homepage</a>
    </p>
</div>